*{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
  
}

body{
    margin: 0;
}

:root {
    --main-color: #74b3dd;
    --first:#5d9ec9 ;
    --second: #6fadd6;
    --gray: #86878b;
    --light-gray: #bcbdc4;
    --white: rgb(255, 255, 255);
  }
  


h1, 
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}

p,
li{
    font-size: 1.5rem;
    line-height: 2rem;
}

.container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    
}

.location{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.italic{
    font-style: italic;
}

.highlight{
    color: var(--second);
    font-weight: bold;
    font-size: 1.3rem;  
    margin-left: 1rem;
}

.hover:hover{
    cursor: pointer;
    transition: all 350ms ease;
}

.people__info{
    display: flex;
    justify-content: space-between;
}

.people__name{
    font-family: 'Zen Tokyo Zoo', cursive;
    letter-spacing: .6rem;
    font-size: 6rem;
    color: var(--main-color);
    text-decoration: none;
}

.people__adress{
    font-size: 1.5rem;
}

.left__column{
    flex-grow: 1;
}

.right__column{
    flex-grow: .4;
}

.people__photo{
   
    width: 30%;
    max-width: 200px;
   
}
.item__header{
    font-family: 'Zen Tokyo Zoo', cursive;
    color: var(--first);
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.item{
    margin-bottom: 1.5rem;
}

.item__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item__header{
    margin-bottom: 1.1rem;
}


.list{
   
    list-style-type:none;
    font-size: 1.3rem;
    width: 100%;

}

.list__li{
    min-width: 20%;
    text-align: center;
}

.list__li:hover{
    transform: scale(1.2);
    transition: all 350ms ease;
    
}

.list__li:not(:hover){
   transition: all 350ms ease;
}

.list__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--gray);
}

.list__link:hover{
    color: var(--second);
}

.list__li:focus{
    color: var(--second);
}   

.list__li:hover{
    color: var(--second);
}   


.item__text{
  
    margin: 0 auto 1rem;
    width: 90%;
}

.code__block{
    background-color: #bcbdc431;
    padding: 3rem;
}

.code__example{
    font-size:1.3rem;
   
    border-radius: 1rem;
}

.octicon{
   fill: var(--gray);
   width: 5rem;
}

.octicon:hover{
    fill: var(--second);
    
 }

 .copyright{
     display: flex;
     justify-content: space-between;
        width: 80%;
     flex-wrap: wrap;
     margin:0 auto;
     
 }

 @media (max-width: 600px) {
   *{
       font-size: 8px;
   }
   .people__photo{
    max-width: 150px;
}
   }
 
   @media (max-width: 375px) {
       .item__list{
flex-direction: column;
   }}

 @media (max-width: 768px) {
   .experience__list{
       flex-direction: column;
   }
   .people__info{
       flex-wrap: wrap;
   }
   .people__photo{
    max-width: 200px;
}
.item__header{
    text-align: center;
}
  }


  @media (min-width: 1500px) {
      .container{
          max-width: 1300px;
      }
      .people__photo{
          max-width: 400px;
      }
   *{
font-size: 20px;
   }
   
   }